<div id="body">
    <div class="content">
        <div>
            <router-outlet></router-outlet>
        </div>
       
    </div>
    <div class="sidebar">
        <h1>Menu</h1>
        <ul class="navigation">
            <li class="first">
                <a class="active" routerLink="./mhome">BURGERS</a>
            </li>
            <li>
                <a routerLink="./hotdogs">HOTDOGS</a>
            </li>
            <li>
                <a routerLink="./shakes">SHAKES</a>
            </li>
            <li>
                <a routerLink="./breakfast">BREAKFAST</a>
            </li>
        </ul>
        <a href="burger.html" class="download">&nbsp;</a> </div>
</div>